.site-footer {
  @apply bg-white text-black shadow-sm;
  border-top: 1px solid rgba(0, 0, 0, 0.75);
  transform: translate3d(0, 0, 0);
  transition: transform 0.216s ease;

  &.collapsed {
    transform: translate3d(0, 100%, 0);
  }

  @screen sm {
    .layout.homepage & {
      @apply border-none bg-transparent text-white shadow-none;
    }
  }

  @screen xxl {
    @apply border-none bg-transparent text-white shadow-none;
  }
}
