.stripe {
  @apply w-4 bg-black ml-auto relative;
  height: 2px;
}

.stripe {
  transition: background-color 0.216s ease 0s;
}

#menu-toggle {
  transition: transform 0.216s ease;
  transform: scale(1);

  .stripe:nth-child(2) {
    @apply w-5 my-1;
  }

  .menu-open & {
    transform: scale(4.5);

    .stripe {
      @apply bg-transparent;
    }
  }

  &.active {
    transform: scale(1);
  }

  &.inactive {
    transform: scale(0);
  }
}

.stripe-close-icon {
  height: 40px;
  width: 40px;
  position: absolute;
  top: 0;
  right: 0;

  .stripe {
    position: absolute;
    top: 20px;
    left: 12px;
  }

  .stripe:nth-child(1) {
    transform: rotate(45deg);
  }

  .stripe:nth-child(2) {
    transform: rotate(135deg);
  }
}
