.post-content {
    h2,
    h3,
    h4 {
        @apply mb-2 text-xl font-bold;
    }

    h2 {
        @apply text-3xl;
    }

    h1 {
        @apply text-4xl;
    }

    hr,
    p {
        @apply mb-8;
    }

    a {
        @apply underline italic;
    }

    iframe {
        @apply my-16 mx-auto max-w-full;
    }

    blockquote {
        border-left: 10px solid #fff;
        margin: 1.5em 10px;
        padding: 0.5em 10px;
        quotes: "\201C""\201D""\2018""\2019";
        font-style: italic;

        &::before {
            color: #fff;
            content: open-quote;
            font-size: 4em;
            line-height: 0.1em;
            margin-right: 0.25em;
            vertical-align: -0.4em;
        }

        & p {
            display: inline;
        }
    }

    deckgo-highlight-code {
        @apply my-16 mx-auto max-w-full;

        @screen lg {
            @apply max-w-xl;
        }
    }

    ol, ul {
        @apply list-inside mb-8;

        li + li {
            @apply mt-2;
        }
    }

    ol {
        @apply list-decimal;
    }

    ul {
        @apply list-disc;
    }

    .video {
        @screen md {
            width: 560px;
            height: 315px;
        }
    }
}

.share-container {
    max-width: 100%;
    
    @screen md {
        transform: translateX(17%);
        width: 32rem;
    }
}

.share-icon {
    @apply absolute;
    font-size: 4rem;
    top: 2rem;
    left: 3rem;

    @screen md {
        font-size: 5rem;
        top: 1rem;
        left: -9rem;
    }
}
